:root{
    --guardsman-red: #cf0000;
    --accent: #ff0000;
    --orange: #ffa900;
    --light-orange: #ffd481;
    --light-grey: #e1e1e1;
    --alto: #dadada;
    --grey: #6b6b6b;
    --tundora: #434343;
    --ping: #fff8eb;
    --mulberry: #cd5a7e;
    --persimmon: #ff594d;
    --hit-pink: #ffa68a;
    --lightning-yellow: #ffc425;
    --peach: #ffe7B9;
}